<!DOCTYPE html>
<html>
    {{ template "head.gohtml" . }} 
    <body>
        <div class="uk-container-expand]">
            <img src="static/img/ennead_gaming01.png">
        </div>
    </body>
</html>    