<!DOCTYPE html>
<html>
    {{ template "head.html" . }} 
    <body>
        <div class="uk-container-expand]">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQNivkBRXEhxu90QHucFNBvtYRymG3Q4D7KDqUiBY3z4sp6y3WgDMfXzCa3hmV8Bg/pubhtml?gid=1282293970&amp;single=true&amp;widget=true&amp;headers=false" width="2400" height="1350" allowfullscreen scrolling="auto" style="-webkit-transform:scale(0.75);-moz-transform-scale(0.75);"></iframe>
        </div>
        <div class="uk-container-expand]">
            <iframe style="-webkit-transform:scale(0.75);-moz-transform-scale(0.75);" width="2009" height="739" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQNivkBRXEhxu90QHucFNBvtYRymG3Q4D7KDqUiBY3z4sp6y3WgDMfXzCa3hmV8Bg/pubchart?oid=2036033947&amp;format=interactive"></iframe>
        </div>
        <div class="uk-container-expand]">
            <iframe style="-webkit-transform:scale(0.75);-moz-transform-scale(0.75);" width="2009" height="739" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQNivkBRXEhxu90QHucFNBvtYRymG3Q4D7KDqUiBY3z4sp6y3WgDMfXzCa3hmV8Bg/pubchart?oid=426709771&amp;format=interactive"></iframe>
        </div>
        <div class="uk-container-expand]">
            <iframe style="-webkit-transform:scale(0.75);-moz-transform-scale(0.75);" width="2009" height="739" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQNivkBRXEhxu90QHucFNBvtYRymG3Q4D7KDqUiBY3z4sp6y3WgDMfXzCa3hmV8Bg/pubchart?oid=515784840&amp;format=interactive"></iframe>
        </div>
        <div class="uk-container-expand]">
            <iframe style="-webkit-transform:scale(0.75);-moz-transform-scale(0.75);" width="2009" height="739" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQNivkBRXEhxu90QHucFNBvtYRymG3Q4D7KDqUiBY3z4sp6y3WgDMfXzCa3hmV8Bg/pubchart?oid=836303374&amp;format=interactive"></iframe>
        </div>            
    </body>
</html>    